{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="help-container">
    <h2 class="contact-us">FeedBack</h2>
    <form id="contactForm" method="POST">
        <!-- Name input-->
         {% csrf_token %}
        <div class="form-floating mb-3">
            <input class="form-control" id="name" name="name" type="text" value="{{ data.name}}" readonly placeholder="Enter your name..."/>
            <label for="name">Full name</label>
        </div>
        <!-- Message input-->
        <div class="form-floating mb-3">
            <textarea class="form-control" id="message" type="text" name="message" placeholder="Enter your message here..." readonly style="height: 10rem">{{ data.message }}</textarea>
            <label for="message">Give feedback about food</label>
        </div>
        <a href="{% url "feedbacklist" %}" id="Cancel" class="btn btn-danger">Back</a>
    </form>
</div>
{% endblock %}