{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="help-container">
    <h2 class="contact-us">Book Your Meal</h2>
    {% if "Admin" in user.groups.all|join:", " %}
    <form id="contactForm" method="POST">
        <!-- Name input-->
         {% csrf_token %}
         <div class="row justify-content-center">
            <!-- Top input, same width as the bottom two inputs -->
            <div class="col-sm-6 mb-3">
                <div class="form-floating">
                    <select class="form-control" name="name" id="name" onchange="autofetch()">
                        <option value="{{request.user}}" dataid="{{user.id}}">{{request.user}}</option>
                        {% for user in date.user %}
                            {% if request.user.id != user.id %}
                                <option value="{{ user.username }}" dataid="{{ user.id }}" {% if user.username == initial_user.username %}selected{% endif %}>{{ user.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                                       
                    <label for="date">Name</label>
                </div>
            </div>
        
            <!-- Bottom inputs, 2 columns side by side, each taking 50% of the row -->
            <div class="col-sm-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" id="date" value="{{date.date}}" readonly name="date" type="date" placeholder="Enter the date..."/>
                    <label for="date">Date</label>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" id="RegNo" name="RegNo" value="{{user.id}}" readonly type="email" placeholder="Enter your email..."/>
                    <label for="RegNo">Register Number</label>
                </div>
            </div>
        </div>
        
        <!-- Message input-->

        <button type="sybmit" class="btn btn-success">Confirm</button>
        <a href="{% url "home" %}" id="Cancel" class="btn btn-danger">Cancel</a>

    </form>
    {% else %}
    <form id="contactForm" method="POST">
        <!-- Name input-->
         {% csrf_token %}
         <div class="row justify-content-center">
            <!-- Top input, same width as the bottom two inputs -->
            <div class="col-sm-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" id="name" name="name" type="text" value="{{user}}" readonly placeholder="Enter your name..."/>
                    <label for="name">Full name</label>
                </div>
            </div>
        
            <!-- Bottom inputs, 2 columns side by side, each taking 50% of the row -->
            <div class="col-sm-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" id="date" value="{{date}}" readonly name="date" type="date" placeholder="Enter the date..."/>
                    <label for="date">Date</label>
                </div>
            </div>
            <div class="col-sm-6 mb-3">
                <div class="form-floating">
                    <input class="form-control" id="RegNo" name="RegNo" value="{{user.id}}" readonly type="email" placeholder="Enter your email..."/>
                    <label for="RegNo">Register Number</label>
                </div>
            </div>
        </div>
        
        <!-- Message input-->

        <button type="sybmit" class="btn btn-success">Confirm</button>
        <a href="{% url "home" %}" id="Cancel" class="btn btn-danger">Cancel</a>

    </form>
    {% endif %}
</div>
<script>
    function autofetch(){
        var raw = document.getElementById('name');
        var value = raw.options[raw.selectedIndex].getAttribute("dataid");  
        console
        var data = [
        {% for user in date.user %}
            {"id": {{ user.id }}}
            {% if not forloop.last %}, {% endif %}
        {% endfor %}
        ];
        console.log(data)
        data.forEach(function(student){
            if(student.id == value){
                document.getElementById('RegNo').value = student.id; 
            }
        });
    }
</script>


{% endblock %}