{% extends "index.html" %}
{% load static %}
{% block content %}
<div class="green-container">
    <img src="{% static 'assets/img/logo.png' %}" alt="Nalanda Foundation Logo" height="250px">
</div>

<div class="container pb-4 pt-5">
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <a href="{% url "foodbook" %}"><img src="https://marketplace.canva.com/EAFszdYJfvM/1/0/400w/canva-brown-simple-icon-food-logo-c45qCivh7Rk.jpg" height="300px" width="390px" alt=""></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url 'booklist' %}"><img src="{% static 'assets/img/view.png' %}" height="300px" width="390px" alt=""></a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="{% url "feedback" %}"><img src="{% static 'assets/img/feed.png' %}" height="300px" width="390px" alt=""></a>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="crd-cont-1">
            <div class="card-body">
                <H4>BOOKING</H4>
            </div>
        </div>
        <div class="crd-cont-1">
            <div class="card-body">
                <H4>LIST</H4>
            </div>
        </div>
        <div class="crd-cont-1">
            <div class="card-body">
                <H4>FEEDBACK</H4>
            </div>
        </div>
    </div>
</div>
{% endblock %}