{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Premium Access</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <!-- Login Section -->
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            {% for message in messages %}
                <div class="alert" style="color: #721c24; background-color: #f8d7da; padding: 10px; border-radius: 5px; border: 1px solid #f5c6cb;">{{message}}</div>
            {% endfor %}
            <form a method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="TEXT" id="email" name="username" placeholder="Enter your email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn-login">Login</button>
                </div>
                <div class="footer-links">
                    <a href="#">Forgot Password?</a>
                    <a href="#">Create an Account</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
